/Practica_1/nbproject/private/
/Practica_2/Practica_2/nbproject/private/
/Practica_3/Practica_3/nbproject/private/
/Practica_2/nbproject/private/
/Practica_3/nbproject/private/
/Practica_1/build/
/Practica_1/dist/
/.metadata/
